#dropmenu {
    background: #E8452C;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #000000;
    padding: 0;
}

body {
  
margin: 0;
  
}

#dropmenu ul, li, a {
    margin: 0;
    padding: 0;
    color: #fff
}
#dropmenu li {
    list-style: none;
}
#dropmenu a {
    text-decoration: none;

}

#dropmenu ul > li {
    float: left;
}
#dropmenu ul > li a {
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    height:80px;
    display:block;
    padding:0px 20px;
}
#dropmenu ul li a:hover {
   /* background: #f87d2b;*/
    background: #EC8373;
}

/*
#dropmenu .add-new:hover {
  
  background: #E8452C;
  
}*/

#dropmenu ul li ul {
    display: none;
    position: absolute;
    background: #E8452C;
    z-index: 9999;
}
#dropmenu ul li ul li {
    float: none;
    line-height: 80px;
    height: 80px;
}

.add-new {
 
    background-color:  #EC6857;
    
}
